*{
    background-image: url(backgroundpic.jpg);
    background-size: cover;
    background-repeat: no repeat;
  margin:0; 
    padding:0;
    box-sizing:border-box;
    background-color: rgb(128, 147, 128);
    font-family:'Great Vibes', cursive;
  }

 
h1{
    text-align: center;
    margin-top: 10px;
    padding:20px;
    background: rgba(255, 255, 255, 0.912);
    width: 800px;
    position: relative;
    left:345px;
    border-radius: 45px; 
    font-weight: bold ;
    
      
  }
  
   h2{
    font-size: 150px;
    color: white;
    position: center;
    
    bottom: 500px;
    text-align: center;
  } 
  

#btn{
    text-align: center;
    margin-top: 10px;
    padding:20px;
    background: rgba(255, 255, 255, 0.91);
    width: 800px;
    position: relative;
    left:345px;
    border-radius: 45px; 
  
    }


.container{
    margin: 20px auto;
    width: 1000px;
    height:800px;
    background-color: rgba(24, 36, 10, 0.708);
    display:grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    padding: 30px 30px ;
    border-radius: 38px;
    perspective: 1000px; 
    background-image: none; 
           }



.card{
    transform-style: preserve-3d;
    background-color:rgba(84, 72, 78, 0.651);
    padding:30px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    height: 200px;
    width: 200;
    transform: scale(1); 
    transition: transform .5s;
    background-image: none;
   
     
  }
span{
  background-color: rgba(255, 255, 255, 0.054);
  background-image: none;
}

  

.back-face, .front-face{
    position: absolute;
    backface-visibility: hidden;
    
   }

   .back-face{
    transform: rotateY(180deg);
  }
  .front-face{
    border-radius: 55px;
    opacity: 0.769;
  }
  
/* this was to just adjust the size when its clicked */
  .card:active{
    transform: scale(0.97);
    transition: transform .2s;
  }


  .card.flip{
    transform: rotateY(180deg);
  }

  img{
    height:165px;
    width: 165px;
    border-radius: 20%;
    }

  button{
    color: white;
    width: 150px;
    height: 60 px;
    font-size: 26px;
    border-color: white;

  }