*{
    margin:0; 
    padding:0;
    box-sizing:border-box;
    background-color: rgb(128, 147, 128);
    font-family:'Great Vibes', cursive;
  }


h1{
    text-align: center;
    margin-top: 10px;
    padding:20px;
    background: white;
    width: 800px;
    position: relative;
    left:345px;
    border-radius: 45px;  
      
  }
  

#btn{
    text-align: center;
    margin-top: 10px;
    padding:20px;
    background: white;
    width: 800px;
    position: relative;
    left:345px;
    border-radius: 45px;  
    }


.container{
    margin: 20px auto;
    width: 1000px;
    height:800px;
    background-color:#fff;
    display:grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    padding: 30px 30px ;
    border-radius: 38px;
    perspective: 1000px; 
           }



.card{
    transform-style: preserve-3d;
    background-color:#333;
    padding:30px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    height: 200px;
    width: 200;
    transform: scale(1); 
    
    transition: transform .5s;
     
  }
  

.back-face, .front-face{
    position: absolute;
    backface-visibility: hidden;
    
   }

   .back-face{
    transform: rotateY(180deg);
  }
  
/* this was to just adjust the size when its clicked */
  .card:active{
    transform: scale(0.97);
    transition: transform .2s;
  }


  .card.flip{
    transform: rotateY(180deg);
  }

  img{
    height:165px;
    width: 165px;
    border-radius: 20%;
    }
  